@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  background-color: #E3E2E2;
}

* {
  font-family: 'Quicksand', sans-serif;
}

html, body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}
