@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  background-color: #E3E2E2;
}

* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'DM Sans', sans-serif;
}

label {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.fill-current {
  fill: currentColor;
}

.space-x-2 > * + * { 
  margin-left: 0.5rem; /* 8px */
}

.space-x-4 > * + * { 
  margin-left: 1rem; /* 16px */
}

.space-y-4 > * + * { 
  margin-bottom: 1rem; /* 16px */
}

.animation-pulse {
  animation: animation-pulse 1s linear infinite alternate;
}
@keyframes animation-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}